.App {
  text-align: center;
  background-color:#F072A9;
  background-repeat: round;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
header {
  background-color: #FFE5E5;
  margin: -5;
  border-bottom: #FFD5E7;
}
nav {
  margin-right: 1em;
  display: flex;
  border-bottom: #EB3B88 solid;
  border-width: 5px;
  box-shadow:#C94A81 5px 9px 8px ;
}

nav a,
nav h3 {
  margin: auto 1em;
  padding: 5px 10px;
  border-radius: 6px;
  font-weight: 800;
  transition: all 0.2s ease;
  border: #FF62A7 solid;
  background-color: #EB3B88;
  color: #FFF4F4;
  margin-bottom: 5px;
  margin-top: -20px;
  text-shadow: #282c34 1px 1px;
  font-weight: 800;

}
nav :hover {
  font-size: 20px;
}

.form-style-3{
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
margin: 0px;
}
.form-style-3 label{
	display:block;
	margin-bottom: 10px;
  font-size: larger;
}

textarea,
.form-style-3 input,
.form-style-3 textarea{
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border: 2px solid #FFC2DC;
	outline: none;
	color: #F072A9;
	padding: 5px 8px 5px 8px;
	box-shadow: inset 1px 1px 4px #FFD5E7;
	-moz-box-shadow: inset 1px 1px 4px #FFD5E7;
	-webkit-box-shadow: inset 1px 1px 4px #FFD5E7;
	background: #FFEFF6;
	width:60%;
  height: 27px;
  border: #FF62A7 solid;
  margin-bottom: 3px;

}
.required{
	color:red;
	font-weight:normal;
}

.form-style-3 button{
	background: #EB3B88;
	border: 1px solid #C94A81;
	padding: 5px 15px 5px 15px;
	color: #FFCBE2;
	box-shadow: inset -1px -1px 3px #FF62A7;
	-moz-box-shadow: inset -1px -1px 3px #FF62A7;
	-webkit-box-shadow: inset -1px -1px 3px #FF62A7;
	border-radius: 3px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;	
	font-weight: bold;
margin-right: 18px;
font-size: 16px;
}


.form-style-3 form {
  border: #FFC2DC solid;
  border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	margin: 0px 0px 10px 0px;
	padding: 20px;
	background: #FFF4F4;
	box-shadow: inset 0px 0px 15px #FFE5E5;
	-moz-box-shadow: inset 0px 0px 15px #FFE5E5;
	-webkit-box-shadow: inset 0px 0px 15px #FFE5E5
  
}
.form-style-3 input {
  font-size: 20px;
}


.profile-pic {
  border-radius: 50%;
  width: 5em;
  border:#FF62A7 solid;
  border-width: 5px;
  box-shadow: #C94A81 3px 2px 9px 6px;
}
.profile-title {
font-family: 'New Century Schoolbook, TeX Gyre Schola, serif';
word-spacing: 4px;
letter-spacing: 2px;
font-size: 50px;
text-shadow: #FFE5E5 1px 1px;
}
.feed-title {
  font-family: 'New Century Schoolbook, TeX Gyre Schola, serif';
word-spacing: 4px;
letter-spacing: 2px;
font-size: 50px;
text-shadow: #FFE5E5 1px 1px;
margin-bottom: -30px;
}
.profile-btn {
	background: #EB3B88;
	border: 1px solid #C94A81;
	padding: 5px 15px 5px 15px;
	color: #FFCBE2;
	box-shadow: inset -1px -1px 3px #FF62A7;
	-moz-box-shadow: inset -1px -1px 3px #FF62A7;
	-webkit-box-shadow: inset -1px -1px 3px #FF62A7;
	border-radius: 3px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;	
	font-weight: bold;
  margin-top: -4px;
font-size: 16px;
margin-bottom: 10px;
margin-left: 10px;
}

.section-box {
  border: #FFC2DC solid;
  border-width: 20px;
  border-radius: 19px;
margin-right: 45px;
margin-left: 45px;
box-shadow: #EB3B88 3px 4px 9px 7px;
margin-top: 10px;

}


.profile-posts {
display:inline-table;
  border:#EB3B88 solid;
  border-width: 4px;
  padding: 1px;
  margin: 10px;
  content: inherit;
  width: 25em;
  background-color: #FFE5E5;
  grid-template-columns: 1fr 1fr 1fr;
  border-radius: 10px;
}
.profile-user {
  font-family: 'Goudy Old Style';
font: 100;
font-size: 40px;
letter-spacing: 2px;
font-weight: 900;

}


.post-card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 5em;
  position: relative;
}

.post-list {
  border:#EB3B88 solid;
  border-width: 4px;
  margin: 11px;
  content: inherit;
  width: 25em;
  background-color: #FFE5E5;
  border-radius: 4px;
  padding: 5px;
  box-shadow: #C94A81 5px 5px 8px 8px;

}
.view-post {
  border:#EB3B88 solid;
  border-width: 4px;
  margin: 10px;
  content: inherit;
  width: 40em;
  background-color: #FFE5E5;
  border-radius: 4px;

}

.comments {
  border:#EB3B88 solid;
  border-width: 4px;
  margin: 6px;
  margin-bottom: 20px;
  margin-left: 15%;
  width: 22em;
  padding: 15px;
  background-color: #FFE5E5;
  border-radius: 10px;
justify-content: center;
box-shadow: #EB3B88 4px 5px ;
color: #282c34;

word-spacing: 2px;
word-break: break-all;
text-shadow:#FFC2DC 2px 2px 2px;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.protected button{
  background: #EB3B88;
  color: #FFC2DC;
  font-size: 2em;
  padding: 1.5rem;
  border:#C94A81 solid;
  border-width: 5px;
  transition: all 0.5s;
  border-radius: 15px;
  width: auto;
  position: relative;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.comment-btn {
  background: #EB3B88;
	border: 1px solid #C94A81;
	padding: 5px 15px 5px 15px;
	color: #FFCBE2;
	box-shadow: inset -1px -1px 3px #FF62A7;
	-moz-box-shadow: inset -1px -1px 3px #FF62A7;
	-webkit-box-shadow: inset -1px -1px 3px #FF62A7;
	border-radius: 3px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;	
	font-weight: bold;
font-size: 16px;
margin-bottom: 40px;
}

